.Login, .Register, .Post, .Validate{
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color:white;
  background-image: linear-gradient(79deg, #eff6e0, #aec3b0 48%, #eff6e0);
}

.auth-form-container, .login-form, .register-form, .validate {
  display: flex;
  flex-direction: column;
}

.auth-form-container {
  padding:5rem;
  border: 1px solid white;
  border-radius: 10px;
  margin: 0.5rem;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding:20px;
  border-radius: 10px;
  cursor: pointer;
}

.link-button {
  background: none;
  color: white;
  text-decoration: underline;
}

.validate {
  align-items: center;
}